/* ------- CSS RESET ------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid lightgrey; */
}

/* ------- Staples ------- */

.padded {
  padding: 10%;
}

.padded-5 {
  padding: 5%;
  padding-top: 10%;
}

.right {
  padding-right: 5%;
  text-align: right;
}

body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-size: 3rem;
  padding-bottom: 10px;
}

h1, h2, h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

p {
  line-height: 1.5;
  color: #333831;
  font-size: 1.1rem;
}

span {
  color: #ffbe00;
}

.white-text {
  color: white;
}

/* ------- Banner ------- */

.palm {
  min-height: 100vh;
  background-image: url(../images/larm-rmah-273854.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.palm p {
  color: white;
  font-size: 3rem;
}

h1 {
  color: white;
  font-size: 6rem;
}

/* ------- Section One ------- */

.dog {
  min-height: 80vh;
  background-image: url(../images/charles-deluvio-351207.jpg);
  background-size: cover;
  background-position: right;
}

.lifetime {
  text-align: left;
}

/* ------- Section Two ------- */

.bedroom {
  min-height: 80vh;
  background-image: url(../images/rhema-kallianpur-275251.jpg);
  background-size: cover;
  background-position: left;
}

/* ------- Banner Two ------- */

.pencil p {
  color: black;
  font-size: 2.5rem;
}

.pencil h3 {
  color: black;
  font-size: 5rem;
}

.pencil {
  min-height: 80vh;
  background-image: url(../images/joanna-kosinska-129039.jpg);
  background-size: cover;
  background-position: right;
  text-align: center;
}

.author {
  color: lightgrey;
  font-size: 2rem;
  text-align: right;
}

/* ------- Quote ------- */

.quote-mark {
  font-size: 8rem;
  color: grey;
  padding-left: 5%;
}

.quote-text {
  font-size: 2rem;
  margin-bottom: 1em;
}

/* ------- Footer ------- */

footer {
  background-color: #192b37;
  color: #fff;
}

footer h2 {
  font-size: 4rem;
}

input, textarea, button {
  margin-bottom: 10px;
  padding: 15px;
  display: block;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-size: 1.5rem;
  color: yellow;
}

textarea {
  padding: 30px;
}

button {
  color: white;
  text-transform: uppercase;
  padding: 15px;
  background-color: #ffbe00;
}
